<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link href="css/zui.min.css" rel="stylesheet">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/zui.min.js"></script>
    <script src="js/vuejs-2.5.16.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <style type="text/css">
        #head{
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container" id="div_register">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">首页模块</a></li>
        <li role="presentation"><a href="login.html">登录模块</a></li>
        <li role="presentation" class="active"><a href="register.html">注册模块</a></li>
        <li role="presentation"><a href="javascript:void(0)" @click="fun3">测试模块</a></li>
        <li role="presentation"><a href="javascript:void(0)" @click="fun3">评论模块</a></li>
    </ul>
    <h3 id="head">用户注册页面</h3>
    <form @submit.prevent="fun1">
        <div class="form-group">
            <label for="username">用户名：</label>
            <input v-model="user.username" type="text" class="form-control" id="username" name="username" placeholder="请输入姓名" required>
        </div>
        <div class="form-group">
            <label for="password">密&nbsp&nbsp&nbsp码：</label>
            <input v-model="user.password" type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required>
        </div>
        <div class="form-group" style="text-align: center">
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-default" type="reset" value="重置" />
            <input @click="fun2" class="btn btn-default" type="button" value="登录" />
        </div>
    </form>

    <!-- 对话框HTML -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p>{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" v-show="!resultInfo.flag" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-show="!resultInfo.flag" @click="fun2">跳转到登录页面</button>
                    <button type="button" class="btn btn-primary" v-show="resultInfo.flag" @click="fun2">登录</button>
                </div>
            </div>
        </div>
    </div>

    <!--提示登录-->
    <div class="modal fade" id="testModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">提示！</h4>
                </div>
                <div class="modal-body">
                    <p>请先登录！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el:"#div_register",
        data:{
            user:{
                username:"",
                password:""
            },
            resultInfo:{
                flag:false,
                errorMsg:""
            },
            msg:""
        },
        watch: {
            resultInfo: {
                handler (newResultInfo, oldResultInfo){
                    this.msg=newResultInfo.errorMsg;
                },
                deep:true
            }
        },
        methods:{
            fun1:function () {
                var _this = this;
                axios.get('/registerUserServlet',
                    {params:{username:_this.user.username,
                            password:_this.user.password
                    }})
                    .then(function (response) {
                        _this.resultInfo.flag=response.data.flag;
                        _this.resultInfo.errorMsg=response.data.errorMsg;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                $('#myModal').modal({
                    keyboard : false,
                    show     : true
                });
            },
            fun2:function () {
                location.href="login.html";
            },
            fun3:function () {
                $("#testModal").modal("show");
            }
        }
    });
</script>
</html>